{% extends 'base.html.twig' %}

{% block title %}Add contact{% endblock %}

{% block page_title %}
    <h2 class="page-title">
        <span>Add contact</span>
        <small>Add new contact to address book</small>
    </h2>
{% endblock %}

{% block body %}
    <div id="content">
        <div class="container portfolio">
            <div class="row">
                <div class="col-md-6">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/algolia-autocomplete.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('plugins/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
{% endblock %}
